nav{
    margin : 0;
    background-image: url(resources/simple-house-01.jpg);
    height: 200px;
    display: block;
}
.nav{
    display:inline-block;
}
article{
    max-width:250px;
    display:inline-block;
    padding-right: 10px;
    padding-left: 10px;
}
.food-articles{
    display:block;
}
title{
    
}