.flex-container{
    display: flex;
    flex-wrap:wrap;
    align-content: center;
    justify-content: center;
}
.flex-item{
    border: 1px black solid;
    width: 200px;
    height: 200px;
    opacity: 0.2;
}

.one{
    background-color: red;
}
.two{
    background-color: green;
}
.three{
    background-color: blue;
}