*{
    margin:0;
}
div{
    width: 100%;
    height: 400px;
    background-color: lightcoral;
}
.one{
    background-color: lightgreen;
}
img{
    position: absolute;
    height:200px;
    top:300px;
    right:50%;
}